*{
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}
nav h3{
  font-size: 2rem;
}
nav{
  padding: 20px 32px;
  width: 100%;
  /* background-color: aqua; */
  display: flex;
  justify-content:space-between;
  position: absolute;
  color: whitesmoke;
}
nav ul{
  width: 40%;
  display:flex;
  justify-content:space-evenly; 
  list-style: none;
  align-items: center;
  font-size: 1.5rem;
}
.login
{
  background-color: blue;
  padding:4px 8px;
  border-radius: 8px;
  font-size: 1.5rem;
}
.header{
  width: 100vw;
  height: 100vh;
  background-image: url(img/back.jpg);
  text-align: center;
  display: flex;
  justify-content: center;
  color: whitesmoke;
  align-items: center;
  background-size: cover;
}
@media only screen and (max-width:850px)
{
  *{
    margin: 0px;
    padding: 0px;
  }
  nav h3{
    font-size: 1.5rem;
  }
  nav{
    width: 98%;
    /* background-color: aqua; */
    display: block;
    text-align: center;
    }
  nav ul{
    width: 100%;
    padding: 2px 0px;
    list-style: none;
    display: flex;
    justify-content:space-between;
    font-size: 12px;
    /* border: 1px solid red; */

  }
  nav ul li{
    margin: 0px 8px;
    /* border: 1px solid red; */
  }
  .login
  {
    background-color: rgb(231, 231, 243);
    font-size: 10px;

  }
}