*{
  padding: 0px;
  margin: 0px;
}
body{
  overflow-x: hidden;
}
nav h3{
  font-size: 3rem;
}
p{
  padding: 10px;
}
nav{
  padding: 20px 32px;
  width: 100%;
  display: flex;
  justify-content:space-between;
  /* background-color: rgb(24, 120, 204); */
  position: absolute;
  color: whitesmoke;
}
nav ul{
  width: 40%;
  display:flex;
  justify-content:space-evenly; 
  padding-right: 30px;
  list-style: none;
  align-items: center;
  font-size: 1.5rem;
}
.login
{
  background-color: rgb(86, 86, 236);
  padding:4px 8px;
  border-radius: 8px;
  font-size: 1.5rem;
}
.header{
  width: 100vw;
  height: 100vh;
  background-image: url(back.jpg);
  background-position: center;
  text-align: center;
  display: flex;
  justify-content: center;
  color: whitesmoke;
  align-items: first flex-end;
  background-size: cover;
}
.content{
  margin-bottom: 150px;
  text-align: center;
}
.content h3{
  padding-bottom: 5px;
  font-size: 5vmin;
}
.content h2{
  padding: 6px;
  font-size: 5vmin;
}
.line{
  width: 40%;
  margin: 3px auto;
  border: 2px solid red;
}
.learn{
  padding: 6px 10px;
  border-radius: 12px;
  background-color: antiquewhite;
}
.login :hover{
  background-color: rgb(37, 180, 92);
}
.boxes{
  
  background-color: black;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 4px;
  flex-wrap: wrap;
}
.box{
  padding-top: 50px;
  width: calc(46%);
  margin: 8px;
  /* border: 2px solid rgb(44, 28, 150); */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color:rgb(233, 153, 153);
  font-size: 1.3em;
}
.box img{
  width: 80%;
  text-align: center;
  margin:8px 20px;
}
@media only screen and (max-width:850px)
{
  *{
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
  }
  nav h3{
    padding-top:20px;
    font-size: 1.5rem;
  }
  nav{
    padding: 0px;
    width: 98%;
    display: block;
    text-align: center;
    padding-bottom: 5px;
    border-bottom: 3px solid whitesmoke;
    }
  nav ul{
    width: 100%;
    padding: 2px 0px;
    list-style: none;
    display: flex;
    justify-content:space-between;
    font-size: 12px;

  }
  .content{
    margin-bottom: 250px;
    text-align: center;
  }
  nav ul li{
    margin: 0px 8px; 
    /* border: 1px solid red; */
}
  .login
  {
    background-color: rgb(231, 231, 243);
    font-size: 10px;

  }
  .learn{
    margin: 5px;
    padding: 5px;
    border-radius: 12px;
    background-color: antiquewhite;
  }
  .boxes{
    width: 100%;
    display: flex;
    padding: 4px;
    flex-wrap: wrap;
  }
  .box{
    width: 100%;
    margin: 8px;
    /* border: 2px solid rgb(44, 28, 150); */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color:brown
  }
  .box img{
    width: 90%;
    text-align: center;
    margin:8px 20px;
  }
}
